img{
    max-width: 100%;
}

.block{
    background-color: cadetblue;
    border:1px dashed;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.inline{
    background-color: sandybrown;
    border:1px dashed;
/* margin, padding, width, and height work inconsistently and should be avoided when possible */
}

.inline-block{
    background-color:darkgray;
    border: 1px dashed;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
/* inline-block combines the qualities of both block and inline, allowing us to add width, height, padding, and margin to inline elements */
}

.content-box{
    background-color: lightpink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 10px solid maroon;
    margin: 20px;
}

.border-box{
    box-sizing: border-box;
    background-color: rgb(182, 187, 255);
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 10px solid rgb(18, 0, 138);
    margin: 20px;
}