body{
    padding: 0;
    margin: 0;
}

.container {
  display: flex;
}

.box{
    font-size: 1em;
    font-family: monospace;
    color: rgb(96, 96, 96);
    width: 33.33%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 2em;
}

.hidden {
opacity: 0;
}

.box:hover .hidden {
opacity: 1;
}

::selection{
    background-color: none;
    color: white;
}